input
{
font-style:calibri;
}
body
{
padding:15px;
align:center;
margin:20px;
}
#buttn
{
background-color:orange;
font-style:calibri;
}
#form
{
background-color:lightblue;
border:solid;
width:40%;
height:85%;
}
hr
{
color:black;
}